/clases/ConceptosBasicos/nbproject/private/
diagramaBD.img
/tareas/TareaLibro/nbproject/private/
/tareas/Libro/nbproject/private/
/tareas/Libro/build/
/clases/ConceptosBasicos/build/
/tareas/ReutilizacionCodigo2209/nbproject/private/
/clases/ReutilizacionCodigo2209/nbproject/private/
/clases/ReutilizacionCodigo2209/build/
/tareas/Composicion/nbproject/private/
/tareas/Composicion/build/
/tareas/Composicion/dist/
/tareas/JavaBasico2209/nbproject/private/
/clases/JavaBasico2209/nbproject/private/
/clases/JavaBasico2209/build/
/clases/JavaBasico2209/dist/
